<div class="container">
		<div class="page-header">
			<center> <h1>LogIn</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->Datos de: {{usuario.nombre}}</h1>

			<form id="FormLoguin"  enctype="multipart/form-data" >
				<input type="text" name="nombre" ng-model="usuario.nombre" placeholder="ingrese nombre" value="" /> 
				<input type="text" name="correo" ng-model="usuario.correo" placeholder="ingrese correo" value=""/> 

				<input type="password" name="pass" ng-model="usuario.clave" placeholder="ingrese pasword" value=""/> 
				
	
				<!--img  ng-src="fotos/{{persona.foto}}" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p-->
				 <ul>
					<!-- Muestro los datos de los archivos a cargar -->
				
			    </ul>
			
      <a class="btn btn-info " name="guardar" ng-click="CargarComprador()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Cargar comprador</a>
				<a class="btn btn-info " name="guardar" ng-click="CargarAdmin()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Cargar administrador</a>

				<a class="btn btn-info " name="guardar" ng-click="CargarVendedor()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Cargar vendedor</a>


				<a class="btn btn-info " name="guardar" ng-click="logearAuto()" ><span class="glyphicon glyphicon-save">&nbsp;</span>loguear</a>
					<a class="btn btn-info " name="guardar" ng-click="logear('1234','normal')" ><span class="glyphicon glyphicon-save">&nbsp;</span>Loguear Atutomaticamente</a>

 			

			</form>
	</div>
	</div>